:root {
    --font-stack: 
                -apple-system,           /* SF Pro на macOS */
                BlinkMacSystemFont,      /* SF Pro на Chrome/macOS */
                'Segoe UI',              /* Windows */
                'Inter',                 /* Наш запасной веб-шрифт */
                Roboto,                  /* Android/Google */
                Oxygen-Sans,             /* Linux KDE */
                Ubuntu,                  /* Linux Ubuntu */
                Cantarell,               /* Linux GNOME */
                'Helvetica Neue',        /* Старый macOS */
                sans-serif;              /* Универсальный fallback */
}
*, ::after, ::before{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    color: #ffffff;
    font-family: var(--font-stack);
            -webkit-font-smoothing: antialiased; 
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: "kern", "liga", "clig", "calt";
}
button{
    font-family: var(--font-stack);
}
a{
    color: #ffffff;
}
header, main, footer {
    position: relative;
    z-index: 2;
    padding: 0 24px;
}
.status-bar{
    height: 48px;
}
.home-bar{
    height: 26px;
}
.header{
    flex-shrink: 0;
}
.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.footer{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin-bottom: 8px;
}
.app{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('../assets/image/bg.png');
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    animation: fade .5s ease-out;
}
@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.title{
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 24px;
    font-weight: 880;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 34px;
}
.item{
    height: 146px;
    width: 110px;
    border-radius: 16px;
    background-color: #4d4d4d;
    display: flex;
    align-items: end;
}
.item-bg-1{
    background-image: url('../assets/image/item-bg1.png');
    background-size: cover;
    background-position: center top;
}
.item-bg-2{
    background-image: url('../assets/image/item-bg2.png');
    background-size: cover;
    background-position: center top;
}
.item-bg-3{
    background-image: url('../assets/image/item-bg3.png');
    background-size: cover;
    background-position: center top;
}
.item-text{
    font-size: 12px;
    padding: 16px 8px;
    line-height: 100%;
    font-weight: 400;
}
.btn{
    height: 56px;
    cursor: pointer;
    width: 100%;
    border-radius: 100px;
    gap: 10px;
   
    
}
.btn.offer{
    margin-bottom: 8px;
    display: grid;
    overflow: visible;
    background: transparent;
    position: relative;
    border: none;
    color: #ffffff;
    padding: 9px 24px;
    grid-template-columns: auto 90px 1px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    isolation: isolate;
    background-color: rgba(255, 255, 255, 0.1016);
    border: 1px solid rgba(255, 255, 255, 0.1016);
}
.offer-price{
    opacity: 0.7;
    line-height: 100%;
    text-align: left;
}
.offer-name{
    text-align: left;
    
}
.offer-name span{
    opacity: 0.7;
}
.offer-name_title{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    opacity: 1;
}
.btn.offer.active>.best::before{
    background: #ffffff;
}
.btn.offer.active>.best::after{
    background: #ffffff;
    color: rgba(20, 17, 49, 1);
}
.btn.offer.active>.gradient>.line, .btn.offer.active>.gradient>.circle{
    display: none   ;
}

.best {
    position: relative;
    color: transparent
}

.best::before {
    content: '';
    position: absolute;
    top: -66px; 
    left: 198px;
    width: 120px; 
    height: 20px; 
    border-radius: 100px;
    
    
    background: linear-gradient(to left, 
        rgba(0, 181, 255, 1), 
        rgba(99, 42, 247, 1), 
        rgba(255, 150, 244, 1)
    );
    z-index: -1;
}

.best::after {
    content: var(--best-text);
    position: absolute;
    top: -65px;
    left: 199px;
    width: 118px;
    height: 18px;
    border-radius: 100px;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(to right, rgba(188, 31, 239, 1), rgba(0, 53, 255, 1));
    line-height: 100%;
    letter-spacing: 0;
    color: white;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn.continue{
    background-color: #ffffff;
    color: #070B33;
    font-size: 20px;
    font-weight: 590;
    line-height: 24px;
    border: none;
    margin-bottom: 34px;
    margin-top: 8px;
    animation: pop .3s ease-out;
}

@keyframes pop{
    from {transform: scale(.9);}
    to {transform: scale(1);}
}
.ftr-link{
    opacity: 0.3;
    font-weight: 200;
    font-size: 13px;
    line-height: 18px;
}
.close{
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    position: absolute;
    top: 65px;
    left: 16px;
    cursor: pointer;
}
.img-close{
    width: 27px;
    height: 27px;
}
.btn.offer.active{
    background-color: rgba(255, 255, 255, 0.3024);
    border: 1px solid #ffffff;
}
.gradient{
    position: relative;
}
.line{
    position: absolute;
    bottom: 28px;
    left: -240px;
}
.circle{
    position: absolute;
    width: 24.5px;
    height: 27.7px;
    right: -26px;
    bottom: 1px;
}

